{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li> Item  {{item.id}}: "{{item.title}}" is {{item.status}} </li>
        {% endfor %}
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>

    <!-- Form which will send a POST request to the current URL -->
  <form action='/form' method="POST">
    <label>Item Title :
      <input type = 'text' name = 'title' id ='title'>
    </label>
    <button class = 'favourite styled type=' button>
      Save
    </button>
  </form>
{% endblock %}