{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li> Item  {{item.id}}: "{{item.title}}" is {{item.status}} </li>
        {% endfor %}
        <!-- List the todo items here -->
      </ul>
    </div>
  </div>
  <br></br>
    <!-- Form which will send a POST request to the current URL -->
  <form action='/form' method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">New to-do item:</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="to-do item">
      <small id = "idHelpBlock" class="form-text text-muted">
        Enter your new to-do item description
      </small>
    </div>
    <button type="button" class="btn btn-secondary">
    Save
    </button>
  </form>
 

  
{% endblock %}